<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG suite" verbose="2" >
    <test name="Array sort test" preserve-order="true">
        <classes>
            <class name="ua.com.mcgray.junitvstestng.TestNgArraySortParametrizedTestWithDataProvider" />
        </classes>
    </test>
</suite>